body,
ul,
li,
p {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 1.2rem;
  font-family: Arial;
}

body {
  margin-bottom: 100px;
  background-color: #ddb8f1;
}

a {
  text-decoration: none;
}

h1 {
  text-align: center;
  margin-top: 100px;
}

img {
  max-width: 100%;
  display: block;
}

.header {
  background: #000000;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.mina-regular-logo {
  font-family: "Mina", sans-serif;
  font-weight: 400;
  font-size: 80px;
  font-style: normal;
  color: #ffffff;
  text-align: start;
  margin:10px;
}

.cinzel-selos {
  font-family: "Cinzel", serif;
  font-weight: 900;
  font-style: normal;
  color: #000000;
  margin-top:   10%;
}

.cinzel-letrinhas {
  font-family: "Cinzel", serif;
  font-weight: 400;
  font-size: 30px;
  font-style: normal;
  color: #000000;
  margin-top: 5%;
  margin-left: 5%;
}

.mina-regular {
  font-family: "Mina", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  text-align: right;
  margin:10px;
}

.logoimg {
  width: 7%;
  float:left;
  margin:10px;
  align-items: center;
}

.logoimgfooter {
  width: 7%;
  float:left;
  margin:10px;
  align-items: center;
}

.mina-regular-logofooter {
  font-family: "Mina", sans-serif;
  font-weight: 400;
  font-size: 80px;
  font-style: normal;
  color: #ffffff;
  text-align: start;
  margin:10px;
}

.lupa {
  display: flex;
  width: 4%;
  height: 100px;
  float: right;
  margin:10px;
  align-items: center;
}

.tres {
  display: flex;
  width: 5%;
  height: 100px;
  float: right;
  margin:10px;
  align-items: center;
}
  

.main {
  display: flex;
  margin-top: 0%;
  margin-bottom: 0%;
}


* {
    margin: 0;
  }
  html, body {
    height: 100%;
  }
  .body-content {
    min-height: 100%;
    /* igual a altura do rodapé */
    margin-bottom: 0px; 
  }
  .body-content:after {
    content: "";
    display: block;
  }
  .site-footer, .page-wrap:after {
    height: 300px; 
  }
  .site-footer {
    background-color: #000000;
  }

.gridgrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 650px;
  padding: 20px;
  grid-gap: 40px;
  margin-top: 0%;
  margin-left: auto;
  margin-right: auto;

}
  
@media (max-width: 900px) {
  .gridgrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .gridgrid {
    grid-template-columns: repeat(2, 1fr);
  }
}


section {
  display: flex;

  background: rgba(255, 255, 255, 0);

  /*Gerar espaço ao redor do conteúdo do elemento
	  30px superior e inferior
	  5px para a esquerda e direita. */
  padding: 30px 5px;

  /* Arredonda cantos. */
  border-radius: 10px;

  /* Tamanho máximo do elemento*/
  max-width: 70vw;
}

section h1 {
  padding: 40px 10px;
  text-align: center;
}

fieldset {
  /* Remove a borda. */
  border: none;
  margin-left: 100px;
}




.container {
  /* Tipo de método de posicionamento de um elemento (estático, relativo, fixo, absoluto ou aderente)

	/* Definido como relative, indica que está posicionado em relação à sua posição normal. 

	Outro conteúdo não será ajustado para caber em qualquer lacuna deixada pelo elemento.*/

  /* relative - indica que esta posicionado
	   em relação à sua posição normal. */
  position: relative;
}

.container input {
  margin: 10px 10px;

  /* Define a largura do elemento. */
  width: calc(100% - 20px);

  /* Defina a altura do elementos. */
  height: 70px;

  /* Remove a borda. */
  border: none;

  background-color: #cf94ff;
  border-radius: 50px;
  color: #333;

  /* Tamanho da fonte.*/
  font-size: 18px;

  /* Aumenta a largura do contorno do texto.*/
  font-weight: 700;

  /* Gera espaço ao redor do conteúdo do elemento
	   (superior, direito, inferior e esquerdo) */
  padding: 14px 10px 0 10px;
}

.container label {
  /* Tranforma o texto deixando todas as letras
	   em maiúsculo. */
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  color: #000000;

  /* Posiciona qualquer elemento de acordo com o 
	   elemento pai, deixando de fazer parte do fluxo 
	   comum do documento.*/
  position: absolute;

  /* Defina a altura entre linha. */
  line-height: 70px;

  /* Posição vertical que necessita que o elemento 
	   tenha uma posição determinada. */
  top: 10px;

  /* Distância da borda esquerda.*/
  left: 20px;

  /* Impede a seleção de texto.*/
  user-select: none;

  /* Se o elemento deve agir ou não a
	   eventos do ponteiro. */
  pointer-events: none;

  /* Altera os valores das propriedades
	   suavemente em um tempo determinado.*/
  transition: 0.5s;
}

/* ~ - Quando ocorrer o foco no input 
   altere as propriedades do label. */
.container input:focus~label,
.container input:valid~label {
  left: 20px;
  top: -10px;
  color: #00acd7;
}


